<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.tymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorator="@{/layout}">


    <section class="buyer_write" layout:fragment="content">
        <form method="POST">
        <div><label>USER ID</label><input/></div>
            <div><label>이름</label><input/></div>
            <div><label>전화번호</label><input/></div>
            <div><label>주소</label><input/></div>
            <div><label>담당자명</label><input/></div>
            <div><label>담당자 연락처</label><input/></div>
            <div class="btn_box">
                <button type="button">입력완료</button>
                <button type="button">LIST로</button>
            </div>
        </form>
    </section>


</html>